#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}
html {
  position: relative;
  height: 100%;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
}
body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}
